/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4F46E5;
  --primary-light: #6366F1;
  --secondary: #7C3AED;
  --success: #10B981;
  --danger: #EF4444;
  --warning: #F59E0B;
  --blue-light: #EFF6FF;
}

.dark {
  --primary: #6366F1;
  --primary-light: #818CF8;
  --secondary: #8B5CF6;
  --success: #34D399;
  --danger: #F87171;
  --warning: #FBBF24;
  --blue-light: #1E3A8A;
}

body {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-500;
}